<!DOCTYPE html>
<html lang="en" data-ng-app="currencyApp">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Currency Converter</title>
  <link rel="shortcut icon" href="img/">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<!-- Header -->

<!-- Main -->

<div data-ng-controller="baseCurrencyController">
  <p>Convert from:</p>
  <input type="search" data-ng-model="baseSearchBar" placeholder="{{ chosenBase.base }}" data-ng-focus="focusBaseSearch=true" data-ng-blur="focusBaseSearch=false">
  
  <ul data-ng-show="focusBaseSearch">
    <li data-ng-repeat="currency in currencies | filter:baseSearchBar | limitTo: 5"><button data-ng-mousedown="changeBaseTo(currency.abbreviation);">{{ currency.abbreviation }}</button></li>
  </ul>
  
  <hr>
  <button data-ng-click="reverse(chosenBaseInfo.abbreviation, convertTo)">Reverse</button>  
  <hr>
  
  <p>Convert to:</p>
  <input type="search" data-ng-model="convertToSearchBar" placeholder="{{ convertTo }}" data-ng-focus="focusConvertToSearch=true" data-ng-blur="focusConvertToSearch=false">
  
  <ul data-ng-show="focusConvertToSearch">
    <li data-ng-repeat="currency in currencies | filter:convertToSearchBar | limitTo: 5"><button data-ng-mousedown="changeConvertTo(currency.abbreviation)">{{ currency.abbreviation }}</button></li>
  </ul>
  
  <hr>
  
  <p data-ng-show="chosenBaseInfo">From: {{ chosenBaseInfo.name }} ({{ chosenBaseInfo.abbreviation }})</p>
  
  <p data-ng-show="chosenBaseInfo && convertTo">{{ chosenBaseInfo.abbreviation }} <input type="text" data-ng-model="amount"> <span data-ng-show="amount && convertTo">Equals {{ convertTo }} {{ amount * rate }} with rate {{ rate }}</span></p> 
  
</div>

<!-- Footer -->

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>